</main>
    
<footer>
  <div class="container">
    <div class="logo-container">
      <div class="logo">
        <img src="./images/file.png" alt="">
        <a href="/" class="logo">
          <h1>COFE</h1>
          <p>Coffee Lovers</p>
        </a>
      </div>
      <!-- <p>Pellentesque congue non augue vitae pellentesque. Morbi sollicitudin eleifend rhoncus. Mauris vel nisl a massa viverra sollicitudin semper a diam.</p> -->
      <ul>
        <li><a href="www.facebook.com"><img src="./svg/facebook.svg" alt=""></a></li>
        <li><a href="www.instagrame.com"><img src="./svg/insta.svg" alt=""></a></li>
        <li><a href="www.linkedIn.com"><img src="./svg/linkedin.svg" alt=""></a></li>
        <li><a href="www.twitter.com"><img src="./svg/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="footer_shop">
      <strong>Shop</strong>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/history">History</a></li>
      </ul>
    </div>
    
    <div class="footer_shop">
      <strong>Shop</strong>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/history">History</a></li>
      </ul>
    </div>
    <div class="footer_shop">
      <strong>Shop</strong>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/history">History</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>