</head>
<body>
  <header>
    <nav>
        <div>
            <a href="/" class="logo">
                <h1>COFE</h1>
                <p>Coffee Lovers</p>
            </a>
            
          <ul>
            <li><a class="<%= link==="/" ? "active": "" %>" href="/">Home</a></li>
            <li><a class="<%= link==="/menu" ? "active": "" %>" href="/menu">Menu</a></li>
            <li><a class="<%= link==="/about" ? "active": "" %>" href="/about">About Us</a></li>
            <li><a class="<%= link==="/contact" ? "active": "" %>" href="/contact">Contact</a></li>
        </ul>
        </div>
    <% if (user) { %>
      <div>
        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="shop_svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg></a>
        
          <form action="/logout" method="POST">
            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="user_logo">
              <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            </button>
          </form>
      </div>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
      
</nav>
  </header>
  
  <main>