<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/styles/about.css" />
<%- include("./includes/nav.ejs") %>

<section class="welcome_section">
  <div class="container">
    <h2>Welcome to Coffee Shop</h2>
    <p>
      At Coffee Shop Name, we believe that coffee is more than just a drink—it's
      an experience, a ritual, and a moment of connection. Nestled in the heart
      of City/Location, our coffee shop is a cozy haven where you can relax,
      recharge, and savor the perfect cup.
    </p>
  </div>
</section>

<section class="out_stroy">
  <div class="container">
    <h2>Our Story</h2>
    <p>
      Our journey began in Year, when a shared passion for exceptional coffee
      and community inspired us to create a space where people from all walks of
      life could come together. Coffee Shop Name started as a small dream,
      fueled by the desire to craft not just coffee but memories that would last
      a lifetime.
    </p>

    <h2>Our Coffee Philosophy</h2>
    <p>
      We are passionate about coffee—its origins, its flavors, and the craft of
      brewing. Every cup tells a story, and we take pride in ensuring that story
      is one of excellence.
    </p>

    <h2 class="visit">Visit Us</h2>
    <p class="highlight">
      Location: Coffee Shop Address, City, State, ZIP Code
    </p>
    <p>Hours: Monday to Friday: 7:00 AM – 8:00 PM</p>
    <p>
      Contact: <a href="mailto:email@example.com">email@example.com</a> | Phone:
      (123) 456-7890
    </p>
  </div>
</section>
<%- include("./includes/end.ejs") %>
