<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/styles/home.css" />
<%- include("./includes/nav.ejs") %>


<section class="about-us">
  <h2>About Us</h2>
  <p>
    At Your Coffee Shop, we believe in the art of brewing coffee. Our baristas
    are skilled artisans who craft each cup with care and precision. Whether
    you're looking for a quiet place to work, a cozy spot to relax, or a great
    coffee experience, you'll find it here.
  </p>
  <a href="/about" class="btn-secondary">Learn More</a>
</section>

<%- include("./includes/end.ejs") %>
