<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="./styles/home.css" />
<%- include("./includes/nav.ejs") %>
<section class="hero">
  <div class="hero_content">
    <div class="hero-text">
      <h1>Enjoy your happy moment with a cup of coffee.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos laboriosam
        consectetur quibusdam earum sequi, rem unde facere labore modi libero
        commodi obcaecati minima voluptatum. Numquam veritatis eveniet sapiente
        corrupti earum.
      </p>
      <a href="/menu" class="btn-primary"
        >See Our Menu
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>
      </a>
    </div>
  </div>
  <img
    class="hero_img"
    src="/images/full-screen/hero-coffee.jpg"
    alt="Welcome to Your Coffee Shop"
    title="Enjoy the best coffee in town"
    loading="lazy"
  />
</section>

<section class="about-us">
  <div class="about-us-contents">
    <div class="section_description">
      <div class="section_title">
        <p>Who we are</p>
        <h2>About Markets</h2>
      </div>
      <p>
        At Your Coffee Shop, we believe in the art of brewing coffee. Our
        baristas are skilled artisans who craft each cup with care and
        precision. Whether you're looking for a quiet place to work, a cozy spot
        to relax, or a great coffee experience, you'll find it here.
      </p>
      <a href="/about" class="btn-primary">Learn More</a>
    </div>
    <div class="section_details">
      <div>
        <img src="./images/bims.png" alt="coffee bims logo" />
        <h4>Biggest Coffee Collection</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolore
          reprehenderit eumaskf.
        </p>
      </div>
      <div>
        <img src="./images/about-house.png" alt="coffee bims logo" />
        <h4>Many points of sale</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolore
          reprehenderit eumaskf.
        </p>
      </div>
      <div>
        <img src="./images/about-coffeemaker.png" alt="coffee bims logo" />
        <h4>Professional baristas</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolore
          reprehenderit eumaskf.
        </p>
      </div>
      <div>
        <img src="./images/about-delevery.png" alt="coffee bims logo" />
        <h4>24/7 fast delivery</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolore
          reprehenderit eumaskf.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="recent_products" id="home-recent-products">
  <div class="container">
    <div class="section_title">
      <span class="shadow">Products</span>
      <p>Choose your favourite</p>
      <h2>Recent Products</h2>
    </div>
    <div class="section_content">
      <div class="cart">
        <!-- <span class="teg">Sold Out</span> -->
        <img src="./images/coffee-packet.png" alt="" />
        <h3 class="cart_title">Hot Expresso</h3>
        <p class="cart_description">
          Lorem ipsum dolor sit amet consectetur amet consectetur ...
        </p>
        <strong class="cart_price">19.00$</strong>
        <a href="/cart" class="cart_btn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
          Add to Cart</a
        >
      </div>

      <div class="cart">
        <!-- <span class="teg">Sold Out</span> -->
        <img src="./images/coffee-packet.png" alt="" />
        <h3 class="cart_title">Hot Expresso</h3>
        <p class="cart_description">
          Lorem ipsum dolor sit amet consectetur amet consectetur ...
        </p>
        <strong class="cart_price">19.00$</strong>
        <a href="/cart" class="cart_btn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
          Add to Cart</a
        >
      </div>

      <div class="cart">
        <div class="badge">sold out</div>
        <img src="./images/coffee-packet.png" alt="" />
        <h3 class="cart_title">Hot Expresso</h3>
        <p class="cart_description">
          Lorem ipsum dolor sit amet consectetur amet consectetur ...
        </p>
        <strong class="cart_price">19.00$</strong>
        <a href="/cart" class="cart_btn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
          Add to Cart</a
        >
      </div>
    </div>
  </div>
</section>

<section class="shops">
  <div class="container">
    <div class="section_title">
      <span class="shadow">Our shops</span>
      <p>Our shops</p>
      <h2>Sale and delivery points</h2>
    </div>
    <div class="shop_content">
      <div class="shop_details">
        <p>
          Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id
          vehicula odio. Donec pulvinartellus eget magna aliquet ultricies.
          Praesent gravida hendreritex, nec eleifend semconvallis vitae.
        </p>
        <strong>Where buy our coffee:</strong>
        <ul>
          <li>>  <strong>Canada</strong>(34)</li>
          <li>>  <strong>USA</strong>(24)</li>
          <li>>  <strong>Maxico</strong>(23)</li>
          <li>>  <strong>Brazil</strong>(52)</li>
          <li>>  <strong>Argentina</strong>(32)</li>
          <li>>  <strong>Europ</strong>(12)</li>
          <li>>  <strong>Russia</strong>(52)</li>
          <li>>  <strong>Australia</strong>(23)</li>
          <li>>  <strong>Asia</strong>(50)</li>
        </ul>
        <button type="button" class="btn">View all points</button>
      </div>
      <div class="shop_image">
        <img src="./images/map.png" alt="">
      </div>
    </div>
  </div>
</section>

<%- include("./includes/end.ejs") %>
